*a {
  text-decoration: none !important;
}
*a:hover {
  text-decoration: none !important;
}
:root {
  --animate-duration: 0.25s;
}

.svg_img {
  position: absolute;
  bottom: 0;
}
.gaming_img {
  position: absolute;
  bottom: -45px;
  z-index: 5;
}

@keyframes move_wave {
  0% {
    transform: translateX(0) translateZ(0) scaleY(1);
  }
  50% {
    transform: translateX(-25%) translateZ(0) scaleY(0.55);
  }
  100% {
    transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}
.waveWrapper {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
}

.waveWrapperInner {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
  bottom: -1px;
  background-image: url(./images/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 35px 0 20px;
}
.bgTop {
  z-index: 15;
  opacity: 0.5;
}
.bgMiddle {
  z-index: 10;
  opacity: 0.75;
}
.bgBottom {
  z-index: 5;
}
.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}
.waveTop {
  background-size: 50% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
  -webkit-animation: move-wave 3s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  background-image: url("http://front-end-noobs.com/jecko/img/wave-top.png");
}
.waveMiddle {
  background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
  animation: move_wave 10s linear infinite;
  background-image: url("http://front-end-noobs.com/jecko/img/wave-mid.png");
}
.waveBottom {
  background-size: 50% 100px;
}
.waveAnimation .waveBottom {
  animation: move_wave 15s linear infinite;
  background-image: url("http://front-end-noobs.com/jecko/img/wave-bot.png");
}

.container {
  z-index: 90;
  position: relative;
}
h2 {
  color: #ffffff;
}

.modal_heading_img {
  max-width: 80px;
}
.modal_footer {
  justify-content: center;
}

/*first modal end*/

/* 2nd modal start */
.modal-header {
  padding: 0;
}

.people-nearby .google-maps {
  background: #f8f8f8;
  border-radius: 4px;
  border: 1px solid #f1f2f2;
  padding: 5px;
}

.people-nearby .google-maps .map {
  height: 300px;
  width: 100%;
  border: none;
}

.people-nearby .nearby-user {
  padding: 10px 0;
  border-bottom: 1px solid #f1f2f2;
  margin-left: 30px;
  margin-right: 30px;
}
.list-user {
  margin-bottom: -22px;
}

.name_list {
  margin-bottom: -1px;
}

img.profile-photo-lg {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.play-btn {
  float: right;
  margin-right: 30px;
  font-size: 0.7rem;
}
.nearby-user {
  transition: all 0.25s;
}

.nearby-user:hover {
  background: #efefef;
  transform: scale(1.05);
  border-radius: 5px;
}
.active-icon {
  margin-top: 3px;
  margin-left: 5px;
}
.profile-link {
  font-size: 0.8rem;
  margin-left: 10px;
  text-decoration: none;
}
.text-muted {
  font-size: 0.7rem;
  margin-left: 10px;
}

@media only screen and (max-width: 600px) {
  .people-nearby .nearby-user {
    padding: 5px;
    margin-left: 0;
    margin-right: 0;
  }
  img.profile-photo-lg {
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }
  .profile-link {
    font-size: 0.6rem;
    margin-left: 10px;
    text-decoration: none;
  }
  .text-muted {
    font-size: 0.5rem;
    margin-left: 10px;
  }
  .play-btn {
    float: left;
    margin-left: auto;
    margin-right: 0px;
  }
  .modal_heading_img {
    max-width: 50px;
  }
}

/*searchbox styling in modal2*/
.search {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url("./images/searchicon.png");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.search:focus {
  width: 100%;
}

/* main page Styling*/

.rotateDown {
  -webkit-animation-name: rotateDown;
  animation-name: rotateDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@-webkit-keyframes rotateDown {
  0% {
    opacity: 1;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: perspective(800px) rotateX(0deg) translateZ(0px);
    transform: perspective(800px) rotateX(0deg) translateZ(0px);
  }

  100% {
    opacity: 0;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: perspective(800px) rotateX(-180deg) translateZ(300px);
    transform: perspective(1800px) rotateX(-180deg) translateZ(300px);
  }
}
@keyframes rotateDown {
  0% {
    opacity: 1;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: perspective(800px) rotateX(0deg) translateZ(0px);
    transform: perspective(800px) rotateX(0deg) translateZ(0px);
  }

  100% {
    opacity: 0;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: perspective(800px) rotateX(-180deg) translateZ(300px);
    transform: perspective(800px) rotateX(-180deg) translateZ(300px);
  }
}

/* styling timer*/
.wrapper {
  width: 60%;
}
.how-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px -39px;
}

.how-item {
  padding: 20px 0 20px;
  flex-grow: 1;
  justify-content: space-between;
  text-align: center;
}

.how-item .how-thumb {
  font-size: 70px;
  text-align: center;
  width: 100px;
  height: 100px;
  line-height: 100px;
  color: #ed3e0f;
  text-shadow: 0 0 10px rgba(237, 62, 15, 0.7);
  border: 2px solid rgba(255, 255, 255, 0.5);
  font-weight: 300;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: 0 auto 16px;
}

.how-item:nth-of-type(4n + 2) .how-thumb {
  color: #1eed93;
  text-shadow: 0 0 10px rgba(30, 237, 147, 0.7);
}

.how-item:nth-of-type(4n + 3) .how-thumb {
  color: #0f6ded;
  text-shadow: 0 0 10px rgba(15, 109, 237, 0.7);
}

.how-item:nth-of-type(4n + 4) .how-thumb {
  color: #af3af9;
  text-shadow: 0 0 10px rgba(175, 58, 249, 0.7);
}

.how-item .title {
  text-transform: uppercase;
  font-size: 24px;
  margin-top: -6px;
  color: #ffffff;
}

@media (max-width: 991px) {
  .how-item .how-thumb {
    font-size: 26px;
    width: 50px;
    height: 50px;
    line-height: 25px;
    padding: 10px 0 10px;
  }

  .how-item .title {
    font-size: 10px;
  }
}

@media (max-width: 991px) and (max-width: 575px) {
  .how-item .how-thumb {
    font-size: 16px;
    width: 30px;
    height: 30px;
    line-height: 15px;
    padding: 5px 0 5px;
  }

  .how-item .title {
    font-size: 8px;
  }
}

/* 3 box styling */
.gamer-item {
  margin: 30px auto 0px;
  background: #070340;
  border-radius: 15%;
  box-shadow: 5px 5px 15px 5px #000250;
}
.game_item_wrapper_1 {
  transition: all 0.15s;
}
.game_item_wrapper_2 {
  transition: all 0.15s;
}
.game_item_wrapper_3 {
  transition: all 0.15s;
}

.game_item_wrapper_1:hover {
  transform: scale(1.1);
}
.game_item_wrapper_2:hover {
  transform: scale(1.1);
}

.game_item_wrapper_3:hover {
  transform: scale(1.1);
}

.gamer-item .gamer-thumb a {
  display: block;
  text-decoration: none;
  color: #f8f8f8;
}
.gamer-thumb {
  display: block;
  text-align: center;
}
.gamer-item .gamer-thumb img {
  width: 80%;
  border-radius: 15%;
}
.gamer-item .gamer-content {
  padding: 30px 20px;
  text-align: center;
}
.game_title > a {
  color: #f1f2f2;
}

@media (max-width: 991px) and (max-width: 575px) {
  .game_title {
    font-size: 0.5rem;
  }
}

/* hidden_box_styling*/
.gamer-item_hidden {
  margin: 30px auto 0px;
  background: #070340;
  border-radius: 15%;
  box-shadow: 5px 5px 15px 5px #000250;
}

.game_item_wrapper_hidden_1 {
  transition: all 0.15s;
}
.game_item_wrapper_hidden_2 {
  transition: all 0.15s;
}

.game_item_wrapper_hidden_3 {
  transition: all 0.15s;
}

.game_item_wrapper_hidden_1:hover {
  transform: scale(1.1);
}
.game_item_wrapper_hidden_2:hover {
  transform: scale(1.1);
}
.game_item_wrapper_hidden_3:hover {
  transform: scale(1.1);
}
.gamer-item_hidden {
  background-image: url("./images/silver.jpg");
  min-height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.gamer-item_hidden .gamer-thumb_hidden a {
  display: block;
  text-decoration: none;
  color: #f8f8f8;
}
.gamer-thumb_hidden {
  display: block;
  text-align: center;
}
.gamer-item_hidden .gamer-thumb_hidden img {
  width: 80%;
  border-radius: 15%;
}
.gamer-item_hidden .gamer-content_hidden {
  padding: 30px 20px;
  text-align: center;
}
.game_title_hidden > a {
  color: #f1f2f2;
}

@media (max-width: 991px) and (max-width: 575px) {
  .game_title_hidden {
    font-size: 0.5rem;
    min-height: 80px;
    max-height: 100px;
  }
  .gamer-item_hidden {
    min-height: 100px;
  }
}

/* Congress Styling */

@import url(https://fonts.googleapis.com/css?family=Sigmar+One);

.congrats {
  position: absolute;
  top: 120px;
  height: 100px;
  padding: 20px 10px;
  text-align: center;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.congrats_title {
  transform-origin: 50% 50%;
  font-size: 70px;
  font-family: "Sigmar One", cursive;
  cursor: pointer;
  z-index: 2;
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
  color: #f1f2f2;
}

.blob {
  height: 50px;
  width: 50px;
  color: #ffcc00;
  position: absolute;
  top: 45%;
  left: 45%;
  z-index: 1;
  font-size: 30px;
  display: none;
}

.c-img {
  border-radius: 50%;
  border: 1px solid blueviolet;
  max-width: 300px;
  margin-top: -40px;
}

@media (max-width: 991px) and (max-width: 575px) {
  .c-img {
    border-radius: 50%;
    border: 1px solid blueviolet;
    max-width: 90px;
    margin-top: -10px;
  }
}

.twisterInDown {
  -webkit-animation-name: twisterInDown;
  animation-name: twisterInDown;
  animation-duration: 1s;
}
@-webkit-keyframes twisterInDown {
  0% {
    opacity: 0;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scale(0, 0) rotate(360deg) translateY(-100%);
    transform: scale(0, 0) rotate(360deg) translateY(-100%);
  }

  30% {
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scale(0, 0) rotate(360deg) translateY(-100%);
    transform: scale(0, 0) rotate(360deg) translateY(-100%);
  }

  100% {
    opacity: 1;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-transform: scale(1, 1) rotate(0deg) translateY(0%);
    transform: scale(1, 1) rotate(0deg) translateY(0%);
  }
}
@keyframes twisterInDown {
  0% {
    opacity: 0;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scale(0, 0) rotate(360deg) translateY(-100%);
    transform: scale(0, 0) rotate(360deg) translateY(-100%);
  }

  30% {
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scale(0, 0) rotate(360deg) translateY(-100%);
    transform: scale(0, 0) rotate(360deg) translateY(-100%);
  }

  100% {
    opacity: 1;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-transform: scale(1, 1) rotate(0deg) translateY(0%);
    transform: scale(1, 1) rotate(0deg) translateY(0%);
  }
}

/*animation background for congress*/
@import url(https://fonts.googleapis.com/css?family=Sigmar+One);

.congrats {
  text-align: center;
  margin: 0 auto;

  color: #f8f8f8;
}

.congrats_title {
  font-size: 60px;
  color: #f8f8f8;
}

h1 {
  transform-origin: 50% 50%;
  font-size: 50px;
  font-family: "Sigmar One", cursive;
  cursor: pointer;
  z-index: 2;
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
}

.blob {
  height: 50px;
  width: 50px;
  color: #ffcc00;
  position: absolute;
  top: 45%;
  left: 45%;
  z-index: 1;
  font-size: 30px;
  display: none;
}

@media (max-width: 991px) and (max-width: 575px) {
  .congrats_title {
    font-size: 30px;
  }
}

@media (max-width: 375px) {
  .congrats_title {
    font-size: 20px;
  }
}

/*ChatBox Styling*/
.chatBox {
  position: fixed;
  bottom: 0px;
  right: 10px;
  width: 28%;
  height: 60%;
  background: url("./images/chat.png");
  border-radius: 5px;
}

@media (max-width: 991px) and (min-width: 575px) {
  .chatBox {
    width: 45%;
    height: 55%;
  }
}

@media (max-width: 575px) {
  .chatBox {
    width: 60%;
    height: 50%;
  }
}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}

.incoming_msg_img > img {
  width: 35px;
  height: 35px;
  margin-right: 5px;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
}
.received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.received_withd_msg {
  width: 57%;
}
.mesgs {
  float: left;
  padding: 30px 5px 0 25px;
  width: 100%;
}

.sent_msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0;
  color: #fff;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.outgoing_msg {
  overflow: hidden;
  margin: 26px 10px 26px;
}
.sent_msg {
  float: right;
  width: 46%;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {
  border-radius: 10px;
  border-top: 1px solid #c4c4c4;
  position: absolute;
  bottom: 0;
  background: white;
  width: 98%;
  margin-left: -25px;
}
.inputbtn {
  padding: 0;
}
.btnrow {
  margin: 0;
  padding: 0;
}
.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 18px;
  top: 11px;
  width: 33px;
}
.messaging {
  padding: 0 0 50px 0;
}
.msg_history {
  height: 260px;
  overflow-y: scroll;
}
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

.box_title {
  font-size: 3rem;
  font-family: "Dancing Script", cursive;
}
.box {
  margin-top: 4rem !important;
}

.icn {
  font-size: 40px;
}

@media (max-width: 1000px) {
  .msg_history {
    height: 230px;
  }
}

@media (max-width: 700px) {
  .msg_history {
    height: 220px;
  }
}

@media (max-width: 560px) {
  .msg_history {
    height: 190px;
  }
  .box_title {
    font-size: 1rem;
  }
  .box {
    margin-top: 2rem !important;
  }

  .icn {
    font-size: 20px;
  }
}

@media (max-width: 400px) {
  .msg_history {
    height: 360px;
  }
}

/* dropdown Styling */
.dropdown {
  z-index: 100;
  text-align: center;
}
.dropdown-menu {
  left: -80px;
}
.dropdown_list {
  padding: 5px;
  margin-right: 5px;
  text-align: center;
}
.dropdown_list:hover {
  background: rgb(199, 199, 197);
}
.dropdown_list > a {
  text-align: center;
  text-decoration: none;
  font-weight: 500;
}
.dropdown_icon0 {
  position: absolute;
  top: 15px;
  left: 15px;
}
.dropdown_icon {
  position: absolute;
  top: 50px;
  left: 15px;
}
.dropdown_icon2 {
  position: absolute;
  top: 84px;
  left: 15px;
}
.dropdown_icon3 {
  position: absolute;
  top: 50px;
  left: 15px;
}

@media (max-width: 560px) {
  .dropdown-menu {
    left: -60px i !important;
  }
  .dropdown_list > a {
    font-size: 15px;
  }
}

/* Settings Page */
.content {
  margin-top: 5px;
  padding: 30px 15px;
  min-height: calc(100vh - 123px);
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.card {
  background: #202940;
}
.card-body {
  color: #8b92a9;
}
.card-form {
  margin: 0;
}
.card-profile {
  margin-top: 0px;
  text-align: center;
}
.card-avater {
  max-width: 130px;
  max-height: 130px;
  margin: -50px auto 0;
  border-radius: 50%;
  overflow: hidden;
  padding: 0;
  box-shadow: 0 16px 38px -12px rgb(0 0 0 / 56%), 0 4px 25px 0 rgb(0 0 0 / 12%),
    0 8px 10px -5px rgb(0 0 0 / 20%);
}

.card-profile .card-avatar + .card-body {
  margin-top: 15px;
}
.dark-edition .card .card-body .card-category + .card-title {
  color: #fff;
}
.dark-edition .btn.btn-primary {
  color: #fff;
  background-color: #913f9e;
  border-color: #913f9e;
  box-shadow: 0 2px 2px 0 rgb(145 63 158 / 14%),
    0 3px 1px -2px rgb(145 63 158 / 20%), 0 1px 5px 0 rgb(145 63 158 / 12%);
}
.img {
  border-radius: 50%;
  box-shadow: 0 16px 38px -12px rgb(0 0 0 / 56%), 0 4px 25px 0 rgb(0 0 0 / 12%),
    0 8px 10px -5px rgb(0 0 0 / 20%);
}
.card-title {
  color: white;
}
.card-category {
  color: white;
}
.img_avatar {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  box-shadow: 0 16px 38px -12px rgb(0 0 0 / 56%), 0 4px 25px 0 rgb(0 0 0 / 12%),
    0 8px 10px -5px rgb(0 0 0 / 20%);
  cursor: pointer;
  transition: all 0.25s;
}

.img_avatar:hover {
  transform: scale(1.1);
}
.back_purple {
  border-radius: 3px;
  margin-top: -20px;
  padding: 15px;
  background: linear-gradient(60deg, #7b1fa2, #913f9e);
  box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%),
    0 7px 10px -5px rgb(156 39 176 / 40%);
}

@media (max-width: 960px) {
  .content {
    padding: 30px 0px;
  }

  .container-fluid {
    padding-right: 0px;
    padding-left: 0px;
  }

  .card-profile {
    margin-top: 0px;
    text-align: center;
  }
  .card-avater {
    max-width: 130px;
    max-height: 130px;
    margin: -50px auto 0;
    border-radius: 50%;
    overflow: hidden;
    padding: 0;
    box-shadow: 0 16px 38px -12px rgb(0 0 0 / 56%),
      0 4px 25px 0 rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
  }

  .card-profile .card-avatar + .card-body {
    margin-top: 15px;
  }
  .dark-edition .card .card-body .card-category + .card-title {
    color: #fff;
  }
  .dark-edition .btn.btn-primary {
    color: #fff;
    background-color: #913f9e;
    border-color: #913f9e;
    box-shadow: 0 2px 2px 0 rgb(145 63 158 / 14%),
      0 3px 1px -2px rgb(145 63 158 / 20%), 0 1px 5px 0 rgb(145 63 158 / 12%);
  }
  .img {
    border-radius: 50%;
    box-shadow: 0 16px 38px -12px rgb(0 0 0 / 56%),
      0 4px 25px 0 rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
  }
  .card-title {
    font-size: 16px;
  }
  .card-category {
    font-size: 16px;
  }
  .img_avatar {
    width: 40px;
    height: 40px;
  }

  .img_avatar:hover {
    transform: scale(1.1);
  }
  .back_purple {
    padding: 10px;
  }
  .card {
    margin-bottom: 15px;
  }
}

/*chating page Styling */

@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
*,
*:before,
*:after {
  box-sizing: border-box;
}

.container_chat {
  font: 14px/20px "Lato", Arial, sans-serif;
  padding: 40px 0;
  color: white;
  margin: 0 auto;
  background: #180042 !important;
  border-radius: 5px;
  box-shadow: 7px 1px 16px 8px #000250 !important;
}

.people-list {
  width: 100%;
  float: left;
}
.people-list .search {
  padding: 20px;
}
.people-list input {
  border-radius: 3px;
  border: none;
  padding: 14px;
  color: white;
  background: #6a6c75;
  width: 90%;
  font-size: 14px;
}
.people-list .fa-search {
  position: relative;
  left: -25px;
}
.people-list ul {
  list-style: none;
  padding: 20px;
}
.people-list ul li {
  padding-bottom: 20px;
  cursor: pointer;
  transition: all 0.25s;
}
.people-list ul li:hover {
  transform: scale(1.1);
  background: #000250;
}

.people-list img {
  float: left;
  border-radius: 50%;
}
.people-list .about {
  float: left;
  margin-top: 8px;
}
.people-list .about {
  padding-left: 8px;
}
.people-list .status {
  color: #92959e;
}

.chat {
  float: left;
  background: url(./images/chat.png);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #1e1f21;
}

.chat_congress {
  background: url(./images/chat.png);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #1e1f21;
  max-width: 70%;
  margin: 0 auto;
}
.chat-header {
  padding: 20px;
  border-bottom: 2px solid white;
}
.chat-header img {
  float: left;
}
.chat-header .chat-about {
  float: left;
  padding-left: 10px;
  margin-top: 6px;
}
.chat-header .chat-with {
  font-weight: bold;
  font-size: 16px;
}
.chat-header .chat-num-messages {
  color: #4e4e4e;
}
.chat-header .fa-star {
  float: right;
  color: #616161;
  font-size: 20px;
  margin-top: 12px;
}
.chat-history {
  padding: 30px 30px 20px;
  border-bottom: 2px solid white;
  overflow-y: scroll;
  height: 350px;
}

.chat-history > ul {
  list-style: none;
}
.chat-history .message-data {
  margin-bottom: 15px;
}
.chat-history .message-data-time {
  color: #a8aab1;
  padding-left: 6px;
}
.chat-history .message {
  color: white;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 30px;
  width: 90%;
  position: relative;
}
.chat-history .message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #86bb71;
  border-width: 10px;
  margin-left: -10px;
}
.chat-history .my-message {
  background: #ebebeb !important;
  color: #646464;
}
.chat-history .other-message {
  background: #05728f;
}
.chat-history .other-message:after {
  border-bottom-color: #94c2ed;
  left: 93%;
}
.chat-message {
  padding: 30px;
}
.chat-message textarea {
  width: 100%;
  border: none;
  padding: 10px 20px;
  font: 14px/22px "Lato", Arial, sans-serif;
  margin-bottom: 10px;
  border-radius: 5px;
  resize: none;
}
.chat-message .fa-file-o,
.chat-message .fa-file-image-o {
  font-size: 16px;
  color: gray;
  cursor: pointer;
}
.chat-message button {
  float: right;
  color: #94c2ed;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background: #f2f5f8;
}
.chat-message button:hover {
  color: #75b1e8;
}

@media (max-width: 960px) {
  .chatList {
    margin: -10px;
  }
  .people-list .row .col {
    margin: 0;
  }
  .mainBox {
    width: 100%;
    margin: 0px;
  }

  .people-list ul {
    padding: 0px;
  }
  .people-list ul li {
    padding-bottom: 10px;
  }

  .people-list img {
    width: 20px;
    height: 20px;
  }
  .about .name,
  .status {
    font-size: 10px;
    margin-top: -2px;
  }

  .about .status {
    margin-top: -8px;
  }

  .chat-history {
    padding: 5px 5px 5px;
  }
  .chat_congress {
    max-width: 80%;
  }

  .chat-header .chat-with {
    font-size: 12px;
  }
  .chat-header .chat-num-messages {
    color: #4e4e4e;
    font-size: 10px;
  }
  .chat-header .fa-star {
    font-size: 16pxpx;
    margin-top: 8px;
  }

  .chat-history .message {
    font-size: 12px;
  }
  .message-data-name {
    font-size: 12px;
  }

  .message-data-time {
    font-size: 12px;
  }

  .chat-message textarea {
    font: 12px/20px "Lato", Arial, sans-serif;
  }
  .chat-message .fa-file-o,
  .chat-message .fa-file-image-o {
    font-size: 12px;
  }
  .chat-message button {
    font-size: 12px;
  }
  .chat-header img {
    float: left;
    width: 31px;
  }
  .chat-header {
    padding: 5px;
  }
  .chatBOX {
    margin: 0px !important;
    margin-top: 2rem !important;
  }
}

@media (max-width: 560px) {
  .chat_congress {
    max-width: 100%;
  }
}

.online,
.offline,
.me {
  margin-right: 3px;
  font-size: 10px;
}

.online {
  color: #86bb71;
}

.offline {
  color: #e38968;
}

.me {
  color: #94c2ed;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* card styling*/

.cards {
  position: relative;
  text-align: center;
  color: #fff;
  background-color: rgb(142 142 142 / 10%);
  border: 1px solid;
  border-color: #fff8 transparent transparent #fff8;
  border-radius: 8px;
  box-shadow: 1em 1em 0.5em #0008;
  transform-style: preserve-3d;
  width: 100%;
  max-width: 300px;
  cursor: pointer;
  margin-top: 2rem;
}

.cards .user-img {
  background-image: url("https://media-exp1.licdn.com/dms/image/C4D03AQGTjisRUZue0A/profile-displayphoto-shrink_800_800/0/1525812704149?e=1622073600&v=beta&t=yUgFiKu3oLPtfL5tOij1syOSfOqsDiSax0wd0UcpuHc");
  background-size: contain;
  width: 140px;
  height: 140px;
  margin: auto;
  border: 1px solid white;
  border-radius: 4px;
}

.cards .front,
.cards .back {
  backface-visibility: hidden;
  padding-top: 1rem;
  padding-bottom: 2rem;
  height: 100%;
  backdrop-filter: blur(0.2em);
}

.cards .back {
  position: absolute;
  top: 0;
  transform: rotateY(180deg);
}

.cards .back .user-img {
  background-image: url("https://www.antonella-testa.com/images/blog-desktop.jpg");
}

.full_wrapper {
  margin-top: 70px;
}

@media (max-width: 560px) {
  .cards .user-img {
    width: 69px;
    height: 69px;
    margin: auto;
    border: 1px solid white;
    border-radius: 4px;
  }

  .cards .front,
  .cards .back {
    padding-bottom: 0rem;
    backdrop-filter: blur(0.2em);
  }
  .name_gamer {
    font-size: 13px;
    margin-top: 5px !important;
  }
}
